## Тема “Работа с данными в Pandas”

### Задание 1

Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [1]:
import pandas as pd

In [2]:
authors = pd.DataFrame({'author_id' : [1, 2, 3], 'author_name' : ['Тургенев', 'Чехов', 'Островский']})

In [3]:
book = pd.DataFrame({'author_id': [1, 1, 1, 2, 2, 3, 3], 
                     'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 
                                   'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 
                                   'Таланты и поклонники'], 
                     'price':[450, 300, 350, 500, 450, 370, 290]})

### Задание 2

Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [4]:
authors_price = pd.merge(authors, book, on='author_id', how='outer')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

### Задание 3

Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [5]:
top5 = authors_price.sort_values(by='price', ascending=False)[:5]
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

### Задание 4

Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [6]:
def count_info(x):
    result = {        
        'min_price': x['price'].min(),
        'max_price': x['price'].max(),
        'mean_price': x['price'].mean()
    }
    return pd.Series(result).round(2)

In [7]:
authors_stat = authors_price.groupby('author_name').apply(count_info)

In [8]:
authors_stat

             min_price  max_price  mean_price
author_name
Островский       290.0      370.0      330.00
Тургенев         300.0      450.0      366.67
Чехов            450.0      500.0      475.00

### Задание 5*

Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [9]:
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']

In [10]:
authors_price

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [11]:
import numpy as np
book_info = pd.pivot_table(authors_price, index=['author_name'], values=["price"], columns=['cover'], aggfunc=np.sum).fillna(0)

In [12]:
book_info

             price
cover       мягкая твердая
author_name
Островский   660.0     0.0
Тургенев     650.0   450.0
Чехов          0.0   950.0

In [13]:
book_info.to_pickle('book_info.pkl')

In [14]:
book_info2 = pd.read_pickle('book_info.pkl')

In [15]:
book_info2

             price
cover       мягкая твердая
author_name
Островский   660.0     0.0
Тургенев     650.0   450.0
Чехов          0.0   950.0

## Задание 5**

Вычисление метрик для мониторинга.
суммарная выручка
кол-во покупок
средний чек
среднее кол-во товаров в покупке
Дополнительно добавим возможность фильтровать данные по различным параметрам. Это может быть полезно чтобы посмотреть как меняются продажи в двух группах, или в какой-то отдельной категории товаров.
На вход функции будет подаваться датафрейм с данными о продажах, словарь с фильтрами и период, за который нужно посчитать метрики.
Функция должна вернуть датафрейм, в индексах которого будут все даты из указанного периода отсортированные по возрастанию, а столбцы - метрики ['revenue', 'number_purchases', 'average_check', 'average_number_items']. Формат данных столбцов - float, формат данных индекса - datetime64[ns].
Если в какие-то дни не было продаж, то нужно заполнить пропуск нулём.

In [17]:
import datetime

In [18]:
def count_info(x, cost_name, sale_id_name):
    result = {
        'revenue': x[cost_name].sum(),
        'number_purchases': x[cost_name].count(),
        'average_check': x[cost_name].mean(),
        'average_number_items': x[sale_id_name].count() / x[cost_name].count()
    }
    return pd.Series(result).round(2)


def calculate_sales_metrics(df, cost_name, date_name, sale_id_name, period, filters=None):
    filtered_by_date = df[
        (df[date_name] >= pd.to_datetime(period['begin'])) & (df[date_name] < pd.to_datetime(period['end']))]

    result_df = filtered_by_date.groupby(date_name).apply(count_info, cost_name=cost_name, sale_id_name=sale_id_name)
    return result_df

In [19]:
data = {
    'cost': [100, 820, 900, 350, 740, 123, 555],
    'date': [datetime.date(2021, 4, 5),
             datetime.date(2021, 4, 3),
             datetime.date(2021, 4, 3),
             datetime.date(2021, 4, 5),
             datetime.date(2021, 4, 5),
             datetime.date(2021, 4, 6),
             datetime.date(2021, 4, 7)],
    'sale_id': [3, 1, 77, 2, 3, 1, 2],
    'shop_id': [211, 211, 213, 199, 175, 213, 175]
}

df = pd.DataFrame(data)
df = calculate_sales_metrics(df, cost_name='cost', date_name='date', sale_id_name='sale_id',
                             period={'begin': '2021-04-03', 'end': '2021-04-08'}, filters=None)

In [20]:
df

            revenue  number_purchases  average_check  average_number_items
date
2021-04-03   1720.0               2.0         860.00                   1.0
2021-04-05   1190.0               3.0         396.67                   1.0
2021-04-06    123.0               1.0         123.00                   1.0
2021-04-07    555.0               1.0         555.00                   1.0

In [24]:
# с filters не разобрался, также и с average_number_items не совсем понял как нужно сделать было